.container {
  width: 200px;
  min-height: 50px;
  border-radius: 1rem;
  padding: 10px;
  border: 2px solid black;
  /* margin: auto ; */
  border: '1px solid ';


}
.container input{

  width: 200px;
  height: 50px;
  border: 0px;

}
.tooltip {
    position: absolute;
    visibility: hidden;
    text-overflow:ellipsis;
  overflow:hidden; 
  word-wrap:break-word;
    right: 50%;
    top: 50%;
    height: 143px;
    width: 384px;
    background-color: #3d393966;
}
.container:hover .tooltip{

  visibility: visible;
  
}

