.container {
  width: 200px;
  min-height: 50px;
  border-radius: 1rem;
  padding: 10px;
  border: 2px solid black;
  /* margin: auto ; */
  border: '1px solid ';


}
.container input{

  width: 200px;
  height: 50px;
  border: 0px;

}
.tooltip {
    position: absolute;
    visibility: hidden;
    text-overflow: unset;
    padding: 2em;
    overflow: hidden;
    word-wrap: break-word;
    right: 30%;
    top: 14%;
    height: 130px;
    border-radius: 28px;
    width: 532px;
    background-color: #ffffff;
    border: solid 2px black;
    border-right: 1rem;
    box-shadow: 10px 8px 17px 10px #0000004f;
}
.container:hover .tooltip{

  visibility: visible;
  
}

