.textareaInput{
    font-size: 25px;
    min-height: 70px;
    max-height:300px;
    
    min-width:37vw;
    max-width:37vw;
}
.buttonSubmit{
 position: relative;
    right: -30%;
    margin-top:1rem;
    width: 150px;
    background-color: aquamarine;
    border-radius: 1rem;
    height: 50px;
   }

.cover1{
    height: 150px;
}

